.container {
    -fx-background-color: #181818;
}
.dialog-pane{
    -fx-border-color:#181818;
    -fx-border-width:2.0px;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color:#181818;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: #181818;
    -fx-text-fill: #ffffff;
}

.dialog-pane .header-panel {
    -fx-background-color: #181818;
}

.dialog-pane .header-panel .label{
    -fx-background-color: #181818;
    -fx-background-radius:10px;
    -fx-text-fill:white;
    -fx-font-size:15.0px;
}

.close {
    -fx-shape: "M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z";
    -fx-scale-shape: false;
}
