.play  {
    -fx-background-color: radial-gradient(radius 180%, #4D78FF, #5378FF); -fx-text-fill: white;
    -fx-font-size: 15px;
}

.serverbtn {

}

.serverbtn:focused{

    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
}

.accountbox {
    -fx-background-color: #202020;
    -fx-border-color: #181818;
    -fx-border-width: 7px;
}

.vboxmenu {
    -fx-background-color: #202020;
    -fx-border-color: #181818;
    -fx-border-width: 7px;
}
.hboxmenu {
    -fx-background-color: #202020;
    -fx-border-color: #181818;
    -fx-border-width: 7px;
}

.hbox {
    -fx-background-color: #202020;
}